<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_VLwfCgZFGQNN93PFWa_vZuc69G6pMKo</string>
	<key>GCM_SENDER_ID</key>
	<string>682262065752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soleMarketProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>solemarket-licenta</string>
	<key>STORAGE_BUCKET</key>
	<string>solemarket-licenta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682262065752:ios:15d49991c6c85fff88502d</string>
</dict>
</plist>